{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Reset Password{% endblock %}

{% block content %}
<div class="col-md-4 offset-4 mt-4">
    <!-- Card -->
    <div class="card p-2 px-5 py-5 mt-5">
        <form method="POST">
            <h1 class="text-center mb-4">Forget Password</h1>
            {% csrf_token %}
            <p class="lead text-center">Reset Password Here</p>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-info btn-block" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}