{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}Password Reset Confirm {% endblock %}
{% block content %}
<div class="col-md-4 offset-4 mt-4">
    <!-- Card -->
    <div class="card p-2 px-5">
        <form method="POST">
            {% csrf_token %}
            <legend class=""">Reset Password</legend>
                {{ form|crispy }}
            <div class=" form-group">
                <button class="btn btn-md btn-info" type="submit">Reset Password</button>
    </div>
    </form>
</div>
</div>
{% endblock content %}